# PyMongo Tutorial 2

In [2]:
from pymongo import MongoClient

client = MongoClient()

print(client)

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [3]:
test_database = client.test_database

In [6]:
users = test_database.users
joe = {'name': 'joe', 'age': 26}
mike = {'name': 'mike', 'age': 28}
jake = {'name': 'jake', 'age': 26}
users.insert_many([joe, mike, jake])
for data in users.find():
    print(data)

{'_id': ObjectId('5f42c07099317f50e7fb4bdb'), 'name': 'joe', 'age': 26}
{'_id': ObjectId('5f42c07099317f50e7fb4bdc'), 'name': 'mike', 'age': 28}
{'_id': ObjectId('5f42c07099317f50e7fb4bdd'), 'name': 'jake', 'age': 26}

### 1. Pymongo 条件查询操作
比较操作符
在查询中，我们会经常用到比较字段值得大小来查询数据，实现这一功能我们会用到比较操作符，Pymongo 常用的比较操作符有以下几个：

- lt 小于
- let 小于等于
- gt 大于
- gte 大于等于
- ne 不等于

In [8]:
for data in users.find({'age':{'$gt': 26}}):
    print(data)

{'_id': ObjectId('5f42c07099317f50e7fb4bdc'), 'name': 'mike', 'age': 28}

In [10]:
for data in users.find({'age': {'$gte': 26}}):
    print(data)

{'_id': ObjectId('5f42c07099317f50e7fb4bdb'), 'name': 'joe', 'age': 26}
{'_id': ObjectId('5f42c07099317f50e7fb4bdc'), 'name': 'mike', 'age': 28}
{'_id': ObjectId('5f42c07099317f50e7fb4bdd'), 'name': 'jake', 'age': 26}

In [11]:
for data in users.find({'age': {'$lt': 28}}):
    print(data)

{'_id': ObjectId('5f42c07099317f50e7fb4bdb'), 'name': 'joe', 'age': 26}
{'_id': ObjectId('5f42c07099317f50e7fb4bdd'), 'name': 'jake', 'age': 26}

In [12]:
for data in users.find({'age': {'$lte': 28}}):
    print(data)

{'_id': ObjectId('5f42c07099317f50e7fb4bdb'), 'name': 'joe', 'age': 26}
{'_id': ObjectId('5f42c07099317f50e7fb4bdc'), 'name': 'mike', 'age': 28}
{'_id': ObjectId('5f42c07099317f50e7fb4bdd'), 'name': 'jake', 'age': 26}

In [14]:
for data in users.find({'name': {'$ne': 'mike'}}):
    print(data)

{'_id': ObjectId('5f42c07099317f50e7fb4bdb'), 'name': 'joe', 'age': 26}
{'_id': ObjectId('5f42c07099317f50e7fb4bdd'), 'name': 'jake', 'age': 26}

### 2. in 和 nin 的用法
我们可以使用 in 和 nin 操作符来匹配一个键的多个值，具体用法示例如下：

In [15]:
# 匹配 users 集合中 用户名为 joe 和 mike 的文档记录
for data in users.find({'name': {'$in': ['joe', 'mike']}}):
    print(data)

{'_id': ObjectId('5f42c07099317f50e7fb4bdb'), 'name': 'joe', 'age': 26}
{'_id': ObjectId('5f42c07099317f50e7fb4bdc'), 'name': 'mike', 'age': 28}

In [16]:
# 匹配用户名不是 mike 的用户 注意： $in 和 $nin 条件必须是一个数组
for data in users.find({'name': {'$nin': ['mike']}}):
    print(data)

{'_id': ObjectId('5f42c07099317f50e7fb4bdb'), 'name': 'joe', 'age': 26}
{'_id': ObjectId('5f42c07099317f50e7fb4bdd'), 'name': 'jake', 'age': 26}

### 3. or 的用法
如果需要查询两个条件中其中一个为真的查询结果，可以使用 $or 操作符。具体示例如下：

In [17]:
# 为方便演示，我们先插入多一条文档记录
kate = {'name': 'kate', 'age': 30}
users.insert_one(kate)

In [22]:
for data in users.find({'$or': [ {'name': {'$in':['mike']}}, {'age': 30}]}):
    print(data)

{'_id': ObjectId('5f42c07099317f50e7fb4bdc'), 'name': 'mike', 'age': 28}
{'_id': ObjectId('5f42c28699317f50e7fb4bde'), 'name': 'kate', 'age': 30}

### 4. null 值查询和 exists 条件判定
在 Python 中，mongodb 中的 null 值以 None 表示。但在查询 null 值中，会出现比较奇怪的情况，以下为演示案例：

In [30]:
c = test_database.c
c.insert_many([{'y': None}, {'y': 1}, {'y': 2}])
for data in c.find():
    print(data)

{'_id': ObjectId('5f42c42c99317f50e7fb4be5'), 'y': None}
{'_id': ObjectId('5f42c42c99317f50e7fb4be6'), 'y': 1}
{'_id': ObjectId('5f42c42c99317f50e7fb4be7'), 'y': 2}

In [31]:
# 查询一个不存在的键，查询条件为 null
for data in c.find({'z': None}):
    print(data)

{'_id': ObjectId('5f42c42c99317f50e7fb4be5'), 'y': None}
{'_id': ObjectId('5f42c42c99317f50e7fb4be6'), 'y': 1}
{'_id': ObjectId('5f42c42c99317f50e7fb4be7'), 'y': 2}

可以看到，当我们查找 {'z': None} 的时候，会把所有不包含这个条件的文档都查询出来，这样明显和我们的意图不一致，因此我们需要增加一个限定，具体代码如下：

In [32]:
for data in c.find({'z': {'$in': [None], '$exists': 1}}):
    print(data)

### 5. 查询数组
在实际使用当中，我们还可能会存在文档中有数组形式的字段值，因此我们需要一些特定的操作来查询匹配这些数组，同样的，MongoDb 提供了相关的操作符可以使用，常用的数组操作符有以下几个：

- all 匹配多个元素数组
- size 匹配特定长度的数组
- slice 返回匹配数组的一个子集

下面将用代码演示以上三个操作符的用法。为方便演示，我们会先创建一个 food 的集合用来存放水果的文档记录。

In [39]:
food = test_database.food
food.insert_one({'_id': 1, 'fruit': ['apple', 'banana', 'peach']})
food.insert_one({'_id': 2, 'fruit': ['apple', 'kumquat', 'orange']})
food.insert_one({'_id': 3, 'fruit': ['cherry', 'banana', 'apple']})
for data in food.find():
    print(data)

{'_id': 1, 'fruit': ['apple', 'banana', 'peach']}
{'_id': 2, 'fruit': ['apple', 'kumquat', 'orange']}
{'_id': 3, 'fruit': ['cherry', 'banana', 'apple']}

all 的用法

In [36]:
result = food.find({'fruit': {'$all': ['apple', 'banana']}})
for data in result:
    print(data)

{'_id': 1, 'fruit': ['apple', 'banana', 'peach']}
{'_id': 3, 'fruit': ['cherry', 'banana', 'apple']}

size 的用法
为方便演示，我们会向 food 集合中的第二个文档添加多一个水果

In [41]:
food.update_one({'_id': 2}, {'$push': {'fruit': 'strawbreey'}})
for data in food.find():
    print(data)

{'_id': 1, 'fruit': ['apple', 'banana', 'peach']}
{'_id': 2, 'fruit': ['apple', 'kumquat', 'orange', 'strawbreey']}
{'_id': 3, 'fruit': ['cherry', 'banana', 'apple']}

In [42]:
result = food.find({'fruit': {'$size': 3}})
for data in result:
    print(data)

{'_id': 1, 'fruit': ['apple', 'banana', 'peach']}
{'_id': 3, 'fruit': ['cherry', 'banana', 'apple']}

slice 的用法
slice 可以返回某个键匹配的数组的一个子集，我们将会用 blog 集合来演示使用 $slice 操作符获取特定数量的评论记录。

In [44]:
# 获取前两条评论记录
food.find_one({}, {'fruit': {'$slice': 2}})

{'_id': 1, 'fruit': ['apple', 'banana']}

In [45]:
# 获取最后一条评论记录
food.find_one({}, {'fruit': {'$slice': -1}})

{'_id': 1, 'fruit': ['peach']}

### 6. min() 和 max() 的使用
如果我们以某个区间值作为查询条件，我们可以使用比较操作符来实现，但是，如果文档中存在值，以及值组成的数组时，查询结果往往与我们的意图不一致，这是我们就需要用到 $elemMatch 来匹配非数组元素，或者使用 min() 和 max() 方法。

In [47]:
c.drop()
c.insert_many([{'x':  5}, {'x': 15}, {'x': 25}, {'x': [5, 25]}])

In [49]:
# 假设我们需要查询 [10, 20] 区间内的记录
result = c.find({'x': {'$gt': 10, '$lt': 20}})
for data in result:
    print(data)

{'_id': ObjectId('5f42c79c99317f50e7fb4be9'), 'x': 15}
{'_id': ObjectId('5f42c79c99317f50e7fb4beb'), 'x': [5, 25]}

In [53]:
# 我们可以使用 $elemMatch 来不匹配数组元素
result = c.find({'x': {'$elemMatch': {'$gt': 10, '$lt': 20}}})
for data in result:
    print(data)

In [52]:
# 通过添加 $elemMatch 可以剔除 [5, 25] 这一记录，但正确的查询结果 {'x': 15} 却不能匹配
# 我们将使用 min() 以及 max() 方法
# 为使用者两个方法，我们需要先给 c 集合的 x 字段建立索引
c.create_index('x')
result = c.find({'x': {'$gt': 10, '$lt': 20}}).min([('x', 10)]).max([('x', 20)])
for data in result:
    print(data)

{'_id': ObjectId('5f42c79c99317f50e7fb4be9'), 'x': 15}

c:\users\907932\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: using a min/max query operator without specifying a Cursor.hint is deprecated. A hint will be required when using min/max in PyMongo 4.0

### 7.where 查询
针对一些比较复杂的查询，我们可以使用 where 。然而，由于 $where 可以在查询中执行任意的 Javascript，因此可能会产生出一些不安全的操作，因此，在实际生产环境中，竟可能的不用或者禁用 where。以下代码演示 where 的基本用法：

In [55]:
foo = test_database.foo
# 向 foo 集合中添加两条文档记录
foo.insert_one({'apple': 1, 'banana': 6, 'peach': 3})
foo.insert_one({'apple': 8, 'spinach': 4, 'watermelon': 4})