# PyMongo Tutorial 2

In [1]:
from pymongo import MongoClient

client = MongoClient()

print(client)

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [2]:
test_database = client.test_database

In [3]:
users = test_database.users
joe = {'name': 'joe', 'age': 26}
mike = {'name': 'mike', 'age': 28}
jake = {'name': 'jake', 'age': 26}
users.insert_many([joe, mike, jake])
for data in users.find():
    print(data)

{'_id': ObjectId('5f42c07099317f50e7fb4bdb'), 'name': 'joe', 'age': 26}
{'_id': ObjectId('5f42c07099317f50e7fb4bdc'), 'name': 'mike', 'age': 28}
{'_id': ObjectId('5f42c07099317f50e7fb4bdd'), 'name': 'jake', 'age': 26}
{'_id': ObjectId('5f42c28699317f50e7fb4bde'), 'name': 'kate', 'age': 30}
{'_id': ObjectId('5f467778bdda88153a44fab2'), 'name': 'joe', 'age': 26}
{'_id': ObjectId('5f467778bdda88153a44fab3'), 'name': 'mike', 'age': 28}
{'_id': ObjectId('5f467778bdda88153a44fab4'), 'name': 'jake', 'age': 26}
{'_id': ObjectId('5f5d3200cf2e6ef1801cc4d6'), 'name': 'joe', 'age': 26}
{'_id': ObjectId('5f5d3200cf2e6ef1801cc4d7'), 'name': 'mike', 'age': 28}
{'_id': ObjectId('5f5d3200cf2e6ef1801cc4d8'), 'name': 'jake', 'age': 26}

### 1. Pymongo 条件查询操作
比较操作符
在查询中，我们会经常用到比较字段值得大小来查询数据，实现这一功能我们会用到比较操作符，Pymongo 常用的比较操作符有以下几个：

- lt 小于 less than 
- lte 小于等于 less than & equal
- gt 大于 greater than
- gte 大于等于 greater than & equal
- ne 不等于 not equal

In [4]:
for data in users.find({'age':{'$gt': 26}}):
    print(data)

{'_id': ObjectId('5f42c07099317f50e7fb4bdc'), 'name': 'mike', 'age': 28}
{'_id': ObjectId('5f42c28699317f50e7fb4bde'), 'name': 'kate', 'age': 30}
{'_id': ObjectId('5f467778bdda88153a44fab3'), 'name': 'mike', 'age': 28}
{'_id': ObjectId('5f5d3200cf2e6ef1801cc4d7'), 'name': 'mike', 'age': 28}

In [5]:
for data in users.find({'age': {'$gte': 26}}):
    print(data)

{'_id': ObjectId('5f42c07099317f50e7fb4bdb'), 'name': 'joe', 'age': 26}
{'_id': ObjectId('5f42c07099317f50e7fb4bdc'), 'name': 'mike', 'age': 28}
{'_id': ObjectId('5f42c07099317f50e7fb4bdd'), 'name': 'jake', 'age': 26}
{'_id': ObjectId('5f42c28699317f50e7fb4bde'), 'name': 'kate', 'age': 30}
{'_id': ObjectId('5f467778bdda88153a44fab2'), 'name': 'joe', 'age': 26}
{'_id': ObjectId('5f467778bdda88153a44fab3'), 'name': 'mike', 'age': 28}
{'_id': ObjectId('5f467778bdda88153a44fab4'), 'name': 'jake', 'age': 26}
{'_id': ObjectId('5f5d3200cf2e6ef1801cc4d6'), 'name': 'joe', 'age': 26}
{'_id': ObjectId('5f5d3200cf2e6ef1801cc4d7'), 'name': 'mike', 'age': 28}
{'_id': ObjectId('5f5d3200cf2e6ef1801cc4d8'), 'name': 'jake', 'age': 26}

In [6]:
for data in users.find({'age': {'$lt': 28}}):
    print(data)

{'_id': ObjectId('5f42c07099317f50e7fb4bdb'), 'name': 'joe', 'age': 26}
{'_id': ObjectId('5f42c07099317f50e7fb4bdd'), 'name': 'jake', 'age': 26}
{'_id': ObjectId('5f467778bdda88153a44fab2'), 'name': 'joe', 'age': 26}
{'_id': ObjectId('5f467778bdda88153a44fab4'), 'name': 'jake', 'age': 26}
{'_id': ObjectId('5f5d3200cf2e6ef1801cc4d6'), 'name': 'joe', 'age': 26}
{'_id': ObjectId('5f5d3200cf2e6ef1801cc4d8'), 'name': 'jake', 'age': 26}

In [7]:
for data in users.find({'age': {'$lte': 28}}):
    print(data)

{'_id': ObjectId('5f42c07099317f50e7fb4bdb'), 'name': 'joe', 'age': 26}
{'_id': ObjectId('5f42c07099317f50e7fb4bdc'), 'name': 'mike', 'age': 28}
{'_id': ObjectId('5f42c07099317f50e7fb4bdd'), 'name': 'jake', 'age': 26}
{'_id': ObjectId('5f467778bdda88153a44fab2'), 'name': 'joe', 'age': 26}
{'_id': ObjectId('5f467778bdda88153a44fab3'), 'name': 'mike', 'age': 28}
{'_id': ObjectId('5f467778bdda88153a44fab4'), 'name': 'jake', 'age': 26}
{'_id': ObjectId('5f5d3200cf2e6ef1801cc4d6'), 'name': 'joe', 'age': 26}
{'_id': ObjectId('5f5d3200cf2e6ef1801cc4d7'), 'name': 'mike', 'age': 28}
{'_id': ObjectId('5f5d3200cf2e6ef1801cc4d8'), 'name': 'jake', 'age': 26}

In [8]:
for data in users.find({'name': {'$ne': 'mike'}}):
    print(data)

{'_id': ObjectId('5f42c07099317f50e7fb4bdb'), 'name': 'joe', 'age': 26}
{'_id': ObjectId('5f42c07099317f50e7fb4bdd'), 'name': 'jake', 'age': 26}
{'_id': ObjectId('5f42c28699317f50e7fb4bde'), 'name': 'kate', 'age': 30}
{'_id': ObjectId('5f467778bdda88153a44fab2'), 'name': 'joe', 'age': 26}
{'_id': ObjectId('5f467778bdda88153a44fab4'), 'name': 'jake', 'age': 26}
{'_id': ObjectId('5f5d3200cf2e6ef1801cc4d6'), 'name': 'joe', 'age': 26}
{'_id': ObjectId('5f5d3200cf2e6ef1801cc4d8'), 'name': 'jake', 'age': 26}

### 2. in 和 nin 的用法
我们可以使用 in 和 nin 操作符来匹配一个键的多个值，具体用法示例如下：

In [9]:
# 匹配 users 集合中 用户名为 joe 和 mike 的文档记录
for data in users.find({'name': {'$in': ['joe', 'mike']}}):
    print(data)

{'_id': ObjectId('5f42c07099317f50e7fb4bdb'), 'name': 'joe', 'age': 26}
{'_id': ObjectId('5f42c07099317f50e7fb4bdc'), 'name': 'mike', 'age': 28}
{'_id': ObjectId('5f467778bdda88153a44fab2'), 'name': 'joe', 'age': 26}
{'_id': ObjectId('5f467778bdda88153a44fab3'), 'name': 'mike', 'age': 28}
{'_id': ObjectId('5f5d3200cf2e6ef1801cc4d6'), 'name': 'joe', 'age': 26}
{'_id': ObjectId('5f5d3200cf2e6ef1801cc4d7'), 'name': 'mike', 'age': 28}

In [10]:
# 匹配用户名不是 mike 的用户 注意： $in 和 $nin 条件必须是一个数组
for data in users.find({'name': {'$nin': ['mike']}}):
    print(data)

{'_id': ObjectId('5f42c07099317f50e7fb4bdb'), 'name': 'joe', 'age': 26}
{'_id': ObjectId('5f42c07099317f50e7fb4bdd'), 'name': 'jake', 'age': 26}
{'_id': ObjectId('5f42c28699317f50e7fb4bde'), 'name': 'kate', 'age': 30}
{'_id': ObjectId('5f467778bdda88153a44fab2'), 'name': 'joe', 'age': 26}
{'_id': ObjectId('5f467778bdda88153a44fab4'), 'name': 'jake', 'age': 26}

### 3. or 的用法
如果需要查询两个条件中其中一个为真的查询结果，可以使用 $or 操作符。具体示例如下：

In [17]:
# 为方便演示，我们先插入多一条文档记录
kate = {'name': 'kate', 'age': 30}
users.insert_one(kate)

In [11]:
for data in users.find({'$or': [ {'name': {'$in':['mike']}}, {'age': 30}]}):
    print(data)

{'_id': ObjectId('5f42c07099317f50e7fb4bdc'), 'name': 'mike', 'age': 28}
{'_id': ObjectId('5f42c28699317f50e7fb4bde'), 'name': 'kate', 'age': 30}
{'_id': ObjectId('5f467778bdda88153a44fab3'), 'name': 'mike', 'age': 28}

### 4. null 值查询和 exists 条件判定
在 Python 中，mongodb 中的 null 值以 None 表示。但在查询 null 值中，会出现比较奇怪的情况，以下为演示案例：

In [12]:
c = test_database.c
c.insert_many([{'y': None}, {'y': 1}, {'y': 2}])
for data in c.find():
    print(data)

{'_id': ObjectId('5f42c79c99317f50e7fb4be8'), 'x': 5}
{'_id': ObjectId('5f42c79c99317f50e7fb4be9'), 'x': 15}
{'_id': ObjectId('5f42c79c99317f50e7fb4bea'), 'x': 25}
{'_id': ObjectId('5f42c79c99317f50e7fb4beb'), 'x': [5, 25]}
{'_id': ObjectId('5f469011bdda88153a44fab5'), 'y': None}
{'_id': ObjectId('5f469011bdda88153a44fab6'), 'y': 1}
{'_id': ObjectId('5f469011bdda88153a44fab7'), 'y': 2}

In [13]:
# 查询一个不存在的键，查询条件为 null
for data in c.find({'z': None}):
    print(data)

{'_id': ObjectId('5f42c79c99317f50e7fb4be8'), 'x': 5}
{'_id': ObjectId('5f42c79c99317f50e7fb4be9'), 'x': 15}
{'_id': ObjectId('5f42c79c99317f50e7fb4bea'), 'x': 25}
{'_id': ObjectId('5f42c79c99317f50e7fb4beb'), 'x': [5, 25]}
{'_id': ObjectId('5f469011bdda88153a44fab5'), 'y': None}
{'_id': ObjectId('5f469011bdda88153a44fab6'), 'y': 1}
{'_id': ObjectId('5f469011bdda88153a44fab7'), 'y': 2}

可以看到，当我们查找 {'z': None} 的时候，会把所有不包含这个条件的文档都查询出来，这样明显和我们的意图不一致，因此我们需要增加一个限定，具体代码如下：

In [15]:
for data in c.find({'z': {'$in': [None], '$exists': 1}}):
    print(data)

In [16]:
for data in c.find({'z': {'$in': [None], '$exists': 0}}):
    print(data) # 寻找不存在的项

{'_id': ObjectId('5f42c79c99317f50e7fb4be8'), 'x': 5}
{'_id': ObjectId('5f42c79c99317f50e7fb4be9'), 'x': 15}
{'_id': ObjectId('5f42c79c99317f50e7fb4bea'), 'x': 25}
{'_id': ObjectId('5f42c79c99317f50e7fb4beb'), 'x': [5, 25]}
{'_id': ObjectId('5f469011bdda88153a44fab5'), 'y': None}
{'_id': ObjectId('5f469011bdda88153a44fab6'), 'y': 1}
{'_id': ObjectId('5f469011bdda88153a44fab7'), 'y': 2}

### 5. 查询数组
在实际使用当中，我们还可能会存在文档中有数组形式的字段值，因此我们需要一些特定的操作来查询匹配这些数组，同样的，MongoDb 提供了相关的操作符可以使用，常用的数组操作符有以下几个：

- all 匹配多个元素数组
- size 匹配特定长度的数组
- slice 返回匹配数组的一个子集

下面将用代码演示以上三个操作符的用法。为方便演示，我们会先创建一个 food 的集合用来存放水果的文档记录。

In [22]:
food = test_database.food
food.remove()

c:\users\907932\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.

{'n': 0, 'ok': 1.0}

In [23]:
food = test_database.food
food.insert_one({'_id': 1, 'fruit': ['apple', 'banana', 'peach']})
food.insert_one({'_id': 2, 'fruit': ['apple', 'kumquat', 'orange']})
food.insert_one({'_id': 3, 'fruit': ['cherry', 'banana', 'apple']})
for data in food.find():
    print(data)

{'_id': 1, 'fruit': ['apple', 'banana', 'peach']}
{'_id': 2, 'fruit': ['apple', 'kumquat', 'orange']}
{'_id': 3, 'fruit': ['cherry', 'banana', 'apple']}

all 的用法

In [24]:
result = food.find({'fruit': {'$all': ['apple', 'banana']}})
for data in result:
    print(data)

{'_id': 1, 'fruit': ['apple', 'banana', 'peach']}
{'_id': 3, 'fruit': ['cherry', 'banana', 'apple']}

size 的用法
为方便演示，我们会向 food 集合中的第二个文档添加多一个水果

In [25]:
food.update_one({'_id': 2}, {'$push': {'fruit': 'strawbreey'}})
for data in food.find():
    print(data)

{'_id': 1, 'fruit': ['apple', 'banana', 'peach']}
{'_id': 2, 'fruit': ['apple', 'kumquat', 'orange', 'strawbreey']}
{'_id': 3, 'fruit': ['cherry', 'banana', 'apple']}

In [26]:
result = food.find({'fruit': {'$size': 3}})
for data in result:
    print(data) # only return the terms with the indicated size

{'_id': 1, 'fruit': ['apple', 'banana', 'peach']}
{'_id': 3, 'fruit': ['cherry', 'banana', 'apple']}

slice 的用法
slice 可以返回某个键匹配的数组的一个子集，我们将会用 blog 集合来演示使用 $slice 操作符获取特定数量的评论记录。

In [27]:
# 获取前两条评论记录
food.find_one({}, {'fruit': {'$slice': 2}})

{'_id': 1, 'fruit': ['apple', 'banana']}

In [28]:
# 获取最后一条评论记录
food.find_one({}, {'fruit': {'$slice': -1}})

{'_id': 1, 'fruit': ['peach']}

### 6. min() 和 max() 的使用
如果我们以某个区间值作为查询条件，我们可以使用比较操作符来实现，但是，如果文档中存在值，以及值组成的数组时，查询结果往往与我们的意图不一致，这是我们就需要用到 $elemMatch 来匹配非数组元素，或者使用 min() 和 max() 方法。

In [29]:
c.drop()
c.insert_many([{'x':  5}, {'x': 15}, {'x': 25}, {'x': [5, 25]}])

In [30]:
# 假设我们需要查询 [10, 20] 区间内的记录
result = c.find({'x': {'$gt': 10, '$lt': 20}})
for data in result:
    print(data)

{'_id': ObjectId('5f469367bdda88153a44fab9'), 'x': 15}
{'_id': ObjectId('5f469367bdda88153a44fabb'), 'x': [5, 25]}

In [31]:
# 我们可以使用 $elemMatch 来不匹配数组元素
result = c.find({'x': {'$elemMatch': {'$gt': 10, '$lt': 20}}})
for data in result:
    print(data)

In [52]:
# 通过添加 $elemMatch 可以剔除 [5, 25] 这一记录，但正确的查询结果 {'x': 15} 却不能匹配
# 我们将使用 min() 以及 max() 方法
# 为使用者两个方法，我们需要先给 c 集合的 x 字段建立索引
c.create_index('x')
result = c.find({'x': {'$gt': 10, '$lt': 20}}).min([('x', 10)]).max([('x', 20)])
for data in result:
    print(data)

{'_id': ObjectId('5f42c79c99317f50e7fb4be9'), 'x': 15}

c:\users\907932\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: using a min/max query operator without specifying a Cursor.hint is deprecated. A hint will be required when using min/max in PyMongo 4.0

### 7.where 查询
针对一些比较复杂的查询，我们可以使用 where 。然而，由于 $where 可以在查询中执行任意的 Javascript，因此可能会产生出一些不安全的操作，因此，在实际生产环境中，竟可能的不用或者禁用 where。以下代码演示 where 的基本用法：

In [32]:
foo = test_database.foo
# 向 foo 集合中添加两条文档记录
foo.insert_one({'apple': 1, 'banana': 6, 'peach': 3})
foo.insert_one({'apple': 8, 'spinach': 4, 'watermelon': 4})

In [35]:
for data in foo.find():
    print(data)

{'_id': ObjectId('5f42cab599317f50e7fb4bec'), 'apple': 1, 'banana': 6, 'peach': 3}
{'_id': ObjectId('5f42cab599317f50e7fb4bed'), 'apple': 8, 'spinach': 4, 'watermelon': 4}
{'_id': ObjectId('5f46a736bdda88153a44fabc'), 'apple': 1, 'banana': 6, 'peach': 3}
{'_id': ObjectId('5f46a736bdda88153a44fabd'), 'apple': 8, 'spinach': 4, 'watermelon': 4}

In [36]:
# First a piece of JavaScripts
"""
function(){
    for (var current in this){
        for (var other in this){
            if(current != other && this[current] == this[other]){
                return true;
            }
        }
    }
return false;
}
"""

'\nfunction(){\n    for (var current in this){\n        for (var other in this){\n            if(current != other && this[current] == this[other]){\n                return true;\n            }\n        }\n    }\nreturn false;\n}\n'

In [37]:
# 接下来，我们需要查找存在两个水果数量相等的文档
result = foo.find({'$where':
 """
function(){
    for (var current in this){
        for (var other in this){
            if(current != other && this[current] == this[other]){
                return true;
            }
        }
    }
return false;
}
"""         
})

for data in result:
    print(data)

{'_id': ObjectId('5f42cab599317f50e7fb4bed'), 'apple': 8, 'spinach': 4, 'watermelon': 4}
{'_id': ObjectId('5f46a736bdda88153a44fabd'), 'apple': 8, 'spinach': 4, 'watermelon': 4}

## 8. 游标

当我们进行查询操作的时候，程序执行查询指令后，返回的不是我们的查询结果，而是一个游标，在 Pymongo 库中，指定 find() 方法后，返回的是一个 pymongo.cursor.Cursor 的对象，这一个对象我们可以简单的理解成一个迭代器，因此我们就可以像上文一样，使用 for 循环来遍历所有查询结果。

In [38]:
type(foo.find())

pymongo.cursor.Cursor

In [39]:
foo.find().next() # 是一个迭代器

{'_id': ObjectId('5f42cab599317f50e7fb4bec'),
 'apple': 1,
 'banana': 6,
 'peach': 3}

In [41]:
foo.drop()

import random
for i in range(20):
    foo.insert_one({'x': random.randint(0, 20)})

for data in foo.find():
    print()

## skip() 的使用
我们可以使用 skip() 来跳过一定数量的文档，以下为代码演示：

In [42]:
for data in foo.find().skip(5).limit(5):
     print(data)

{'_id': ObjectId('5f46aafabdda88153a44fac3'), 'x': 16}
{'_id': ObjectId('5f46aafabdda88153a44fac4'), 'x': 8}
{'_id': ObjectId('5f46aafabdda88153a44fac5'), 'x': 10}
{'_id': ObjectId('5f46aafabdda88153a44fac6'), 'x': 4}
{'_id': ObjectId('5f46aafabdda88153a44fac7'), 'x': 17}