# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd 
import datetime as dt
from pandas_datareader import data as wb

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [2]:
end = dt.datetime.today()
start = dt.datetime(2015, 1, 1)

### Step 3. Select the Apple, Tesla, Twitter, IBM stocks symbols and assign them to a variable called stocks

In [3]:
stocks = ['AAPL', 'TSLA', 'IBM']

### Step 4. Read the data from google, assign to df and print it

In [5]:
df = wb.DataReader(stocks, 'yahoo', start, end)
df.head()

Attributes   Adj Close                               Close              \
Symbols           AAPL         IBM        TSLA        AAPL         IBM
Date
2015-01-02   99.766006  125.882919  219.309998  109.330002  162.059998
2015-01-05   96.955429  123.902168  210.089996  106.250000  159.509995
2015-01-06   96.964584  121.230103  211.279999  106.260002  156.070007
2015-01-07   98.324242  120.437820  210.949997  107.750000  155.050003
2015-01-08  102.102089  123.055511  210.619995  111.889999  158.419998

Attributes                    High                                 Low  \
Symbols           TSLA        AAPL         IBM        TSLA        AAPL
Date
2015-01-02  219.309998  111.440002  163.309998  223.250000  107.349998
2015-01-05  210.089996  108.650002  161.270004  216.500000  105.410004
2015-01-06  211.279999  107.430000  159.960007  214.199997  104.629997
2015-01-07  210.949997  108.199997  157.199997  214.779999  106.699997
2015-01-08  210.619995  112.150002  159.039993  213.800003  108.699997

Attributes                                Open                          \
Symbols            IBM        TSLA        AAPL         IBM        TSLA
Date
2015-01-02  161.000000  213.259995  111.389999  161.309998  222.869995
2015-01-05  159.190002  207.160004  108.290001  161.270004  214.550003
2015-01-06  155.169998  204.210007  106.540001  159.669998  210.059998
2015-01-07  154.029999  209.779999  107.199997  157.199997  213.350006
2015-01-08  155.550003  210.009995  109.230003  156.240005  212.809998

Attributes      Volume
Symbols           AAPL        IBM       TSLA
Date
2015-01-02  53204600.0  5525500.0  4764400.0
2015-01-05  64285500.0  4880400.0  5368500.0
2015-01-06  65797100.0  6146700.0  6261900.0
2015-01-07  40105900.0  4701800.0  2968400.0
2015-01-08  59364500.0  4236800.0  3442500.0

### Step 5.  What is the type of structure of df ?

In [6]:
type(df)

pandas.core.frame.DataFrame

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [7]:
df.items

<bound method DataFrame.iteritems of Attributes   Adj Close                                Close              \
Symbols           AAPL         IBM         TSLA        AAPL         IBM
Date
2015-01-02   99.766006  125.882919   219.309998  109.330002  162.059998
2015-01-05   96.955429  123.902168   210.089996  106.250000  159.509995
2015-01-06   96.964584  121.230103   211.279999  106.260002  156.070007
2015-01-07   98.324242  120.437820   210.949997  107.750000  155.050003
2015-01-08  102.102089  123.055511   210.619995  111.889999  158.419998
2015-01-09  102.211563  123.591476   206.660004  112.010002  159.110001
2015-01-12   99.693008  121.517525   202.210007  109.250000  156.440002
2015-01-13  100.578171  121.804909   204.250000  110.220001  156.809998
2015-01-14  100.194923  121.020386   192.690002  109.800003  155.800003
2015-01-15   97.475563  120.064964   191.869995  106.820000  154.570007
2015-01-16   96.718193  122.061211   193.070007  105.989998  157.139999
2015-01-20   99.209412  121.913643   191.929993  108.720001  156.949997
2015-01-21   99.966774  118.138557   196.570007  109.550003  152.089996
2015-01-22  102.567482  120.701904   201.619995  112.400002  155.389999
2015-01-23  103.096718  121.074738   201.289993  112.980003  155.869995
2015-01-26  103.206223  121.455353   206.550003  113.099998  156.360001
2015-01-27   99.592651  119.365852   205.979996  109.139999  153.669998
2015-01-28  105.222908  117.719124   199.369995  115.309998  151.550003
2015-01-29  108.498863  120.771828   205.199997  118.900002  155.479996
2015-01-30  106.911079  119.086205   203.600006  117.160004  153.309998
2015-02-02  108.252480  120.134850   210.940002  118.629997  154.660004
2015-02-03  108.270729  123.094307   218.360001  118.650002  158.470001
2015-02-04  109.101135  121.921432   218.550003  119.559998  156.960007
2015-02-05  109.879822  122.659355   220.990005  119.940002  157.910004
2015-02-06  108.954536  122.588951   217.360001  118.930000  156.720001
2015-02-09  109.678268  121.830185   217.479996  119.720001  155.750000
2015-02-10  111.785355  124.028221   216.289993  122.019997  158.559998
2015-02-11  114.405487  123.746605   212.800003  124.879997  158.199997
2015-02-12  115.852966  123.996941   202.880005  126.459999  158.520004
2015-02-13  116.420959  125.467506   203.770004  127.080002  160.399994
...                ...         ...          ...         ...         ...
2020-07-13  381.222656  117.659431  1497.060059  381.910004  119.199997
2020-07-14  387.531281  119.041344  1516.800049  388.230011  120.599998
2020-07-15  390.196472  121.410324  1546.010010  390.899994  123.000000
2020-07-16  385.395111  122.407272  1500.640015  386.089996  124.010002
2020-07-17  384.616516  123.493057  1500.839966  385.309998  125.110001
2020-07-20  392.721924  124.736771  1643.000000  393.429993  126.370003
2020-07-21  387.301697  124.430771  1568.359985  388.000000  126.059998
2020-07-22  388.389740  127.007042  1592.329956  389.089996  128.669998
2020-07-23  370.711609  125.684364  1513.069946  371.380005  127.330002
2020-07-24  369.793243  124.164268  1417.000000  370.459991  125.790001
2020-07-27  378.557434  124.578835  1539.599976  379.239990  126.209999
2020-07-28  372.338684  122.861328  1476.489990  373.010010  124.470001
2020-07-29  379.475800  123.700340  1499.109985  380.160004  125.320000
2020-07-30  384.067535  121.311615  1487.489990  384.760010  122.900002
2020-07-31  424.275024  121.351105  1430.760010  425.040009  122.940002
2020-08-03  434.965759  122.703392  1485.000000  435.750000  124.309998
2020-08-04  437.870514  124.213615  1487.000000  438.660004  125.839996
2020-08-05  439.457642  123.828659  1485.020020  440.250000  125.449997
2020-08-06  454.790009  124.490005  1489.579956  455.609985  126.120003
2020-08-07  444.450012  124.959999  1452.709961  444.450012  124.959999
2020-08-10  450.910004  127.110001  1418.569946  450.910004  127.110001
2020-08-11  437.500000  126.750000  1374.390015  437.500000  126.750000
2020-08-12  452.040009  126.699997  1554.760010  452.040009  126.699997
2020-08-13  460.040009  125.029999  1621.000000  460.040009  125.029999
2020-08-14  459.630005  125.269997  1650.709961  459.630005  125.269997
2020-08-17  458.429993  124.440002  1835.640015  458.429993  124.440002
2020-08-18  462.250000  124.919998  1887.089966  462.250000  124.919998
2020-08-19  462.829987  123.839996  1878.530029  462.829987  123.839996
2020-08-20  473.100006  123.150002  2001.829956  473.100006  123.150002
2020-08-21  497.480011  123.160004  2049.979980  497.480011  123.160004

Attributes                     High                                  Low  \
Symbols            TSLA        AAPL         IBM         TSLA        AAPL
Date
2015-01-02   219.309998  111.440002  163.309998   223.250000  107.349998
2015-01-05   210.089996  108.650002  161.270004   216.500000  105.410004
2015-01-06   211.279999  107.430000  159.960007   214.199997  104.629997
2015-01-07   210.949997  108.199997  157.199997   214.779999  106.699997
2015-01-08   210.619995  112.150002  159.039993   213.800003  108.699997
2015-01-09   206.660004  113.250000  160.339996   209.979996  110.209999
2015-01-12   202.210007  112.629997  159.250000   204.470001  108.800003
2015-01-13   204.250000  112.800003  159.970001   207.610001  108.910004
2015-01-14   192.690002  110.489998  156.490005   195.199997  108.500000
2015-01-15   191.869995  110.059998  156.970001   195.750000  106.660004
2015-01-16   193.070007  107.580002  157.630005   194.490005  105.199997
2015-01-20   191.929993  108.970001  157.330002   194.119995  106.500000
2015-01-21   196.570007  111.059998  154.500000   198.679993  108.269997
2015-01-22   201.619995  112.470001  155.720001   203.240005  109.720001
2015-01-23   201.289993  113.750000  157.600006   203.500000  111.529999
2015-01-26   206.550003  114.360001  159.460007   208.619995  112.800003
2015-01-27   205.979996  112.480003  155.089996   208.029999  109.029999
2015-01-28   199.369995  118.120003  154.529999   206.369995  115.309998
2015-01-29   205.199997  119.190002  155.580002   205.979996  115.559998
2015-01-30   203.600006  120.000000  155.240005   207.470001  116.849998
2015-02-02   210.940002  119.169998  154.660004   211.949997  116.080002
2015-02-03   218.360001  119.089996  158.600006   220.369995  117.610001
2015-02-04   218.550003  120.510002  158.710007   221.479996  118.309998
2015-02-05   220.990005  120.230003  158.589996   225.479996  119.250000
2015-02-06   217.360001  120.250000  158.080002   223.399994  118.449997
2015-02-09   217.479996  119.839996  157.500000   217.929993  118.430000
2015-02-10   216.289993  122.150002  158.559998   220.500000  120.160004
2015-02-11   212.800003  124.919998  159.089996   214.740005  122.500000
2015-02-12   202.880005  127.480003  159.500000   203.089996  125.570000
2015-02-13   203.770004  127.279999  160.800003   205.990005  125.650002
...                 ...         ...         ...          ...         ...
2020-07-13  1497.060059  399.820007  120.989998  1794.989990  381.029999
2020-07-14  1516.800049  389.019989  120.889999  1590.000000  375.510010
2020-07-15  1546.010010  396.989990  123.959999  1550.000000  385.959991
2020-07-16  1500.640015  389.619995  124.480003  1531.709961  383.619995
2020-07-17  1500.839966  388.589996  125.629997  1537.510010  383.359985
2020-07-20  1643.000000  394.000000  127.070000  1650.000000  384.250000
2020-07-21  1568.359985  397.000000  132.169998  1675.000000  386.970001
2020-07-22  1592.329956  391.899994  129.470001  1626.420044  386.410004
2020-07-23  1513.069946  388.309998  129.369995  1689.000000  368.040009
2020-07-24  1417.000000  371.880005  127.650002  1465.000000  356.579987
2020-07-27  1539.599976  379.619995  126.320000  1547.939941  373.920013
2020-07-28  1476.489990  378.200012  126.339996  1564.699951  372.989990
2020-07-29  1499.109985  380.920013  125.989998  1534.810059  374.850006
2020-07-30  1487.489990  385.190002  123.900002  1513.239990  375.070007
2020-07-31  1430.760010  425.660004  122.989998  1517.050049  403.299988
2020-08-03  1485.000000  446.549988  124.410004  1509.810059  431.570007
2020-08-04  1487.000000  443.160004  125.860001  1527.410034  433.549988
2020-08-05  1485.020020  441.570007  126.750000  1499.839966  435.589996
2020-08-06  1489.579956  457.649994  126.260002  1517.310059  439.190002
2020-08-07  1452.709961  454.700012  125.070000  1499.750000  441.170013
2020-08-10  1418.569946  455.100006  127.239998  1457.500000  440.000000
2020-08-11  1374.390015  449.929993  130.470001  1420.000000  436.429993
2020-08-12  1554.760010  453.100006  127.790001  1585.000000  441.190002
2020-08-13  1621.000000  464.170013  126.389999  1651.180054  455.709991
2020-08-14  1650.709961  460.000000  125.559998  1668.800049  452.179993
2020-08-17  1835.640015  464.350006  125.589996  1845.859985  455.850006
2020-08-18  1887.089966  464.000000  125.500000  1923.900024  456.029999
2020-08-19  1878.530029  468.649994  125.500000  1911.000000  462.440002
2020-08-20  2001.829956  473.570007  124.040001  2021.989990  462.929993
2020-08-21  2049.979980  499.470001  123.480003  2095.489990  477.000000

Attributes                                 Open                           \
Symbols            IBM         TSLA        AAPL         IBM         TSLA
Date
2015-01-02  161.000000   213.259995  111.389999  161.309998   222.869995
2015-01-05  159.190002   207.160004  108.290001  161.270004   214.550003
2015-01-06  155.169998   204.210007  106.540001  159.669998   210.059998
2015-01-07  154.029999   209.779999  107.199997  157.199997   213.350006
2015-01-08  155.550003   210.009995  109.230003  156.240005   212.809998
2015-01-09  157.250000   204.960007  112.669998  158.419998   208.919998
2015-01-12  155.759995   199.250000  112.599998  159.000000   203.050003
2015-01-13  155.679993   200.910004  111.430000  157.259995   203.320007
2015-01-14  153.740005   185.000000  109.040001  154.860001   185.830002
2015-01-15  154.160004   190.000000  110.000000  156.690002   194.490005
2015-01-16  153.820007   189.649994  107.029999  153.820007   190.699997
2015-01-20  154.029999   187.039993  107.839996  156.699997   193.869995
2015-01-21  151.070007   189.509995  108.949997  153.029999   189.550003
2015-01-22  151.759995   195.199997  110.260002  151.940002   197.000000
2015-01-23  154.889999   198.330002  112.300003  155.029999   200.289993
2015-01-26  155.770004   201.050003  113.739998  158.259995   201.830002
2015-01-27  152.589996   203.300003  112.419998  154.940002   204.419998
2015-01-28  151.550003   198.419998  117.629997  154.000000   206.110001
2015-01-29  149.520004   196.500000  116.320000  151.380005   201.070007
2015-01-30  153.039993   203.000000  118.400002  153.910004   203.960007
2015-02-02  151.509995   203.300003  118.050003  154.000000   203.970001
2015-02-03  154.750000   211.270004  118.500000  154.750000   213.220001
2015-02-04  156.699997   216.800003  118.500000  157.210007   218.289993
2015-02-05  157.149994   219.639999  120.019997  157.289993   219.880005
2015-02-06  156.229996   216.500000  120.019997  157.339996   222.000000
2015-02-09  155.399994   211.990005  118.550003  156.000000   215.380005
2015-02-10  155.080002   215.000000  120.169998  156.740005   217.550003
2015-02-11  157.169998   207.279999  122.769997  157.759995   212.210007
2015-02-12  158.089996   193.279999  126.059998  158.720001   193.570007
2015-02-13  158.639999   200.910004  127.279999  158.779999   202.899994
...                ...          ...         ...         ...          ...
2020-07-13  118.660004  1471.109985  389.059998  119.779999  1659.000000
2020-07-14  117.919998  1431.000000  379.359985  118.620003  1556.000000
2020-07-15  122.150002  1457.000000  395.959991  122.400002  1543.000000
2020-07-16  122.160004  1466.000000  386.250000  122.680000  1477.160034
2020-07-17  123.199997  1490.000000  387.950012  124.389999  1513.449951
2020-07-20  125.139999  1488.000000  385.670013  126.070000  1519.010010
2020-07-21  125.800003  1558.000000  396.690002  131.160004  1639.930054
2020-07-22  125.800003  1562.000000  386.769989  125.900002  1599.000000
2020-07-23  127.150002  1480.770020  387.989990  129.100006  1678.949951
2020-07-24  125.500000  1366.540039  363.950012  126.480003  1416.010010
2020-07-27  124.709999  1413.000000  374.839996  124.860001  1435.000000
2020-07-28  124.150002  1474.420044  377.470001  125.820000  1504.000000
2020-07-29  124.070000  1487.000000  375.000000  124.559998  1501.000000
2020-07-30  121.639999  1471.000000  376.750000  123.709999  1488.000000
2020-07-31  121.089996  1420.979980  411.540009  122.709999  1515.000000
2020-08-03  122.150002  1444.380005  432.799988  123.500000  1449.199951
2020-08-04  123.820000  1462.000000  436.529999  123.820000  1495.010010
2020-08-05  124.610001  1468.310059  437.510010  126.730003  1492.989990
2020-08-06  125.000000  1477.260010  441.619995  125.000000  1490.829956
2020-08-07  123.209999  1415.010010  452.820007  123.500000  1499.540039
2020-08-10  125.180000  1385.839966  450.399994  125.419998  1448.000000
2020-08-11  126.610001  1365.000000  447.880005  128.759995  1396.000000
2020-08-12  125.879997  1435.000000  441.989990  127.610001  1470.000000
2020-08-13  124.769997  1567.260010  457.720001  125.959999  1611.000000
2020-08-14  123.910004  1626.640015  459.320007  124.199997  1664.989990
2020-08-17  124.410004  1672.829956  464.250000  125.250000  1677.000000
2020-08-18  124.239998  1845.109985  457.410004  125.000000  1898.989990
2020-08-19  123.500000  1841.209961  463.929993  124.830002  1865.000000
2020-08-20  122.809998  1857.060059  463.000000  123.199997  1860.680054
2020-08-21  122.309998  2025.050049  477.049988  123.010002  2044.760010

Attributes       Volume
Symbols            AAPL         IBM        TSLA
Date
2015-01-02   53204600.0   5525500.0   4764400.0
2015-01-05   64285500.0   4880400.0   5368500.0
2015-01-06   65797100.0   6146700.0   6261900.0
2015-01-07   40105900.0   4701800.0   2968400.0
2015-01-08   59364500.0   4236800.0   3442500.0
2015-01-09   53699500.0   4488300.0   4668300.0
2015-01-12   49650800.0   4187600.0   5950300.0
2015-01-13   67091900.0   4377500.0   4477300.0
2015-01-14   48956600.0   4690300.0  11551900.0
2015-01-15   60014000.0   4248400.0   5216500.0
2015-01-16   78513300.0   5756000.0   3603200.0
2015-01-20   49899900.0   8392800.0   4503200.0
2015-01-21   48575900.0  11897100.0   4153000.0
2015-01-22   53796400.0   6120100.0   4116900.0
2015-01-23   46464800.0   4834800.0   3438600.0
2015-01-26   55615000.0   7888100.0   3234500.0
2015-01-27   95568700.0   5659600.0   2781000.0
2015-01-28  146477100.0   4495900.0   3149600.0
2015-01-29   84436400.0   8320800.0   3548100.0
2015-01-30   83745500.0   6563600.0   3007000.0
2015-02-02   62739100.0   4712200.0   4149200.0
2015-02-03   51915700.0   5539400.0   4826200.0
2015-02-04   70149700.0   3678500.0   3305400.0
2015-02-05   42246200.0   5253600.0   3522900.0
2015-02-06   43706600.0   3256500.0   3243900.0
2015-02-09   38889800.0   3057700.0   3472400.0
2015-02-10   62008500.0   4440600.0   5390500.0
2015-02-11   73561800.0   3626700.0   9769100.0
2015-02-12   74474500.0   3333100.0  15649600.0
2015-02-13   54272200.0   3706900.0   6191000.0
...                 ...         ...         ...
2020-07-13   47912300.0   4650700.0  38985400.0
2020-07-14   42747300.0   4534400.0  23418100.0
2020-07-15   38299500.0   4473400.0  16367800.0
2020-07-16   27644400.0   4330900.0  14300800.0
2020-07-17   23046700.0   3984600.0   9330000.0
2020-07-20   22579500.0   9927700.0  17121400.0
2020-07-21   25911500.0  15364900.0  16157300.0
2020-07-22   22250400.0   8195400.0  14161100.0
2020-07-23   49251100.0   4220100.0  24328500.0
2020-07-24   46359700.0   3531100.0  19396600.0
2020-07-27   30303500.0   3733400.0  16048700.0
2020-07-28   25906400.0   4178200.0  15808700.0
2020-07-29   22582300.0   2832800.0   9426900.0
2020-07-30   39532500.0   3988100.0   7621000.0
2020-07-31   93584200.0   5277700.0  12247000.0
2020-08-03   77037800.0   3526100.0   8809300.0
2020-08-04   43267900.0   3466100.0   8415000.0
2020-08-05   30498000.0   3675400.0   4978000.0
2020-08-06   50607200.0   3417100.0   5992300.0
2020-08-07   49453300.0   3651000.0   8883500.0
2020-08-10   53100900.0   3968300.0   7522300.0
2020-08-11   46975600.0   5001200.0   8625800.0
2020-08-12   41486200.0   3530200.0  21898800.0
2020-08-13   52520500.0   3171300.0  20425300.0
2020-08-14   41391300.0   2963400.0  12577600.0
2020-08-17   29890400.0   3360100.0  20242300.0
2020-08-18   26408400.0   2882400.0  16474500.0
2020-08-19   36384500.0   3743900.0  12205300.0
2020-08-20   31726800.0   2561200.0  20611800.0
2020-08-21   84299500.0   3383500.0  21428800.0

[1420 rows x 18 columns]>

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [8]:
vol = df['Volume']
vol.head()

Symbols           AAPL        IBM       TSLA
Date
2015-01-02  53204600.0  5525500.0  4764400.0
2015-01-05  64285500.0  4880400.0  5368500.0
2015-01-06  65797100.0  6146700.0  6261900.0
2015-01-07  40105900.0  4701800.0  2968400.0
2015-01-08  59364500.0  4236800.0  3442500.0

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [9]:
vol['week'] = vol.index.week
vol['year'] = vol.index.year
week = vol.groupby(['week','year']).sum()
week

c:\users\907932\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
c:\users\907932\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Symbols           AAPL         IBM         TSLA
week year
1    2015   53204600.0   5525500.0    4764400.0
     2016  343790200.0  25253600.0   20975400.0
     2017  103845500.0  11943500.0   28576400.0
     2018  136171900.0  31378900.0   29713500.0
     2019  248189000.0  20960800.0   48890000.0
     2020   70450800.0   5522300.0   27310600.0
2    2015  283252500.0  24454000.0   22709600.0
     2016  304337200.0  29471300.0   23379000.0
     2017  138810700.0  16711000.0   21173500.0
     2018  110197500.0  22579800.0   32786500.0
     2019  203706100.0  19780900.0   31088100.0
     2020  167522900.0  16848300.0  100559300.0
3    2015  304226600.0  23259800.0   30799200.0
     2016  243384100.0  44227400.0   16167600.0
     2017  116348000.0  26976900.0   20323100.0
     2018  127571200.0  54936000.0   24151900.0
     2019  155292000.0  23615700.0   43823100.0
     2020  163013900.0  21202100.0  108248400.0
4    2015  198737000.0  31244800.0   16211700.0
     2016  380336500.0  27280800.0   18725200.0
     2017  124539300.0  24899300.0   22689400.0
     2018  191574800.0  28682400.0   28243000.0
     2019  112501600.0  44146400.0   39858500.0
     2020  115921300.0  34952500.0   83177100.0
5    2015  465842700.0  32928000.0   15720200.0
     2016  217154800.0  25529900.0   32825600.0
     2017  249781200.0  16959300.0   16562500.0
     2018  262992100.0  22178200.0   23581400.0
     2019  202296800.0  23585700.0   42147900.0
     2020  216683700.0  34724500.0   87923100.0
...                ...         ...          ...
47   2016   94132400.0  11265900.0   17222400.0
     2017   81009300.0  13839300.0   23670700.0
     2018  164498700.0  18035500.0   26603000.0
     2019  113956300.0  16986400.0   41830900.0
48   2015  109720400.0  13199600.0   10946700.0
     2016  155500000.0  19372000.0   21684300.0
     2017  170098500.0  24515100.0   26917300.0
     2018  213749900.0  27471100.0   27187800.0
     2019   75270300.0  11489500.0   28308100.0
49   2015  206765800.0  22947300.0   14888500.0
     2016  151989600.0  17154500.0   18842300.0
     2017  137481100.0  20434400.0   25926000.0
     2018  167526800.0  25804700.0   36122100.0
     2019  114149800.0  17272500.0   29518200.0
50   2015  188854000.0  21355700.0   14230000.0
     2016  195015600.0  23958000.0   20430200.0
     2017  139147200.0  32003400.0   35625800.0
     2018  217537700.0  23700900.0   31652800.0
     2019  142029400.0  17761300.0   39084000.0
51   2015  315106400.0  27843400.0   16488600.0
     2016  113323000.0  13210000.0   21166400.0
     2017  117632400.0  20139400.0   26856000.0
     2018  287694300.0  39485400.0   40136900.0
     2019  183180000.0  20036500.0   73651800.0
52   2015  126607800.0  16541400.0    6177700.0
     2016   84828600.0   7771300.0   18385800.0
     2017   97163800.0  10643000.0   17184000.0
     2018  191160200.0  21630300.0   32237100.0
     2019   96609500.0   8887200.0   41953900.0
53   2015  123761500.0  13538600.0   10720500.0

[295 rows x 3 columns]

### Step 9. Find all the volume traded in the year of 2015

In [10]:
vol = df['Volume']
vol['year'] = vol.index.year
year = vol.groupby('year').sum()
year

c:\users\907932\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Symbols          AAPL           IBM          TSLA
year
2015     1.306605e+10  1.105583e+09  1.088218e+09
2016     9.682478e+09  1.018606e+09  1.162362e+09
2017     6.810776e+09  1.071166e+09  1.590031e+09
2018     8.539036e+09  1.368561e+09  2.161639e+09
2019     7.063803e+09  9.466952e+08  2.308078e+09
2020     6.836992e+09  9.325341e+08  2.788971e+09

### BONUS: Create your own question and answer it.